<div class="consultatii">
  <div class="consultatii__data">
    <div class="consultatii__data__total-number"></div>
    <div class="consultatii__data__all-consultations">
      <div
        *ngFor="let consultation of consultatii"
        class="consultatii__data__all-consultations__item"
      >
        <div class="consultatii__data__all-consultations__item__informations">
          <ng-container *ngIf="isEditing[consultation.nr_consultatie]">
            <p>
              <strong>Nr. Consultație:</strong>
              <mat-form-field appearance="outline">
                <input
                  matInput
                  type="text"
                  [(ngModel)]="
                    editableConsultation[consultation.nr_consultatie]
                      .nr_consultatie
                  "
                  disabled
                />
              </mat-form-field>
            </p>
            <p>
              <strong>Data:</strong>
              <mat-form-field appearance="outline">
                <input
                  matInput
                  [matDatepicker]="picker"
                  placeholder="Selectați data"
                  [(ngModel)]="
                    editableConsultation[consultation.nr_consultatie]
                      .data_consultatie
                  "
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </p>
            <p>
              <strong>Diagnostic:</strong>
              <mat-form-field appearance="outline">
                <mat-select
                  name="diagnostic"
                  [(ngModel)]="
                    editableConsultation[consultation.nr_consultatie].diagnostic
                  "
                >
                  <mat-option
                    *ngFor="let option of diagnostics"
                    [value]="option.nume"
                  >
                    {{ option.nume }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </p>
            <p>
              <strong>Medicamentatie:</strong>
              <mat-form-field appearance="outline">
                <textarea
                  matInput
                  placeholder="Introduceți medicația prescrisă"
                  [(ngModel)]="
                    editableConsultation[consultation.nr_consultatie]
                      .medicamentatie
                  "
                  rows="3"
                ></textarea>
              </mat-form-field>
            </p>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
