.close {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  cursor: pointer;
  font-family: Verdana, sans-serif;
  font-size: 1.4rem;
}

.consultatii {
  h3 {
    margin-bottom: 4%;
  }

  &__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;

    &__total-number {
      font-weight: bold;
      display: flex;
      width: 90%;
      justify-content: flex-end;
    }

    &__all-consultations {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      width: 100%;

      &__item {
        border: 1px solid #ccc;
        padding: 15px;
        border-radius: 5px;
        background-color: #f9f9f9;
      }
    }
  }

  form {
    margin-top: 5%;
  }

  p {
    font-size: 1rem;
  }

  label {
    font-weight: bold;
  }
}
mat-form-field {
  width: 100%;
  font-size: 120%;
}

button {
  width: 11rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
}

.butoane-update {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .consultatii__data__all-consultations {
    grid-template-columns: 1fr;
  }
}
