.add-new-patient {
  &__close {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    cursor: pointer;
    font-family: Verdana, sans-serif;
    font-size: 1.4rem;
  }

  &__bottom {
    &__buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 2rem;
      margin-top: 1%;
      margin-right: 1%;

      &__button1 {
        background-color: #ffc400;
      }

      &__button2 {
        background-color: rgb(175, 7, 7);
        color: white;
      }

      button {
        width: 8rem;
        height: 2.5rem;
        border-radius: 0.5rem;
        font-weight: bold;
        font-size: 1rem;
      }
    }
  }

  &__data-entered {
    height: 57vh;
    padding: 1%;

    form {
      display: flex;
      flex-direction: row;
    }

    &__first,
    &__second {
      width: 50%;
      height: 55vh;
      padding: 1%;

      label {
        font-weight: bold;
      }

      span {
        color: red;
      }

      &__data {
        display: flex;
        gap: 5%;

        &__nume,
        &__prenume,
        &__adresa {
          display: flex;
          flex-direction: column;
          width: 50%;
        }

        &__data-nastere {
          display: flex;
          gap: 5%;
        }

        &__profile {
          display: flex;
          flex-direction: row;

          &__image {
            display: flex;
            justify-content: flex-end;

            img {
              width: 30%;
            }
          }
        }
      }

      &__data-nasterii {
        width: 50%;
      }
    }

    &__first {
      border-right: 2px solid rgb(179, 179, 179);
    }
  }
}

mat-form-field {
  width: 100%;
  font-size: 120%;
}

.upload-file {
  margin-top: 5%;
  width: 48%;

  &__placeholder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      color: rgb(170, 170, 170);
    }
  }
}

::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
}

input[type="file"] {
  display: none;
}
