<div class="content" id="content">
  <ng-container *ngIf="patient; else noData">
    <p><strong>Nume Pacient </strong> {{ patient.firstName }}</p>
    <!-- <p><strong>Ocupația:</strong> {{ patient.occupation }}</p> -->
    <p><strong>CNP:</strong> {{ patient.cnp }}</p>
    <mat-divider></mat-divider>

    <p>
      <strong>Nr. Consultație:</strong> {{ consultation?.consultationNumber }}
    </p>
    <p><strong>Data:</strong> {{ consultation?.consultationDate }}</p>
    <p><strong>Diagnostic:</strong> {{ consultation?.diagnosis }}</p>
    <p><strong>Medicamentație:</strong> {{ consultation?.medication }}</p>
    <mat-divider> </mat-divider>
  </ng-container>

  <ng-template #noData>
    <p>Nu există date disponibile pentru acest pacient.</p>
  </ng-template>
</div>
<div class="button"><button (click)="exportPDF()">Export PDF</button></div>
