.close {
  display: flex;
  justify-content: space-between;
  padding: 0.7%;
  cursor: pointer;
  font-family: Verdana, sans-serif;
  font-size: 1.4rem;

  &__toggle {
    display: flex;
    .mat-button-toggle-group {
      margin-left: 10%;
      height: 4vh;
      align-items: center;
      width: 100%;
      border: 1px solid rgb(211, 208, 208);
    }
  }
}

.add-new-patient {
  &__close {
    display: flex;
    justify-content: space-between;
    padding: 0.5%;
    cursor: pointer;
    font-family: Verdana, sans-serif;
    font-size: 1.4rem;

    &__toggle {
      display: flex;
    }
  }

  &__bottom {
    &__buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 2rem;
      margin-top: 1%;
      margin-right: 1%;

      &__button1 {
        background-color: #ffc400;
      }

      &__button2 {
        background-color: rgb(175, 7, 7);
        color: white;
      }

      button {
        width: 8rem;
        height: 2.5rem;
        border-radius: 0.5rem;
        font-weight: bold;
        font-size: 1rem;
      }
    }
  }

  &__data-entered {
    height: 87vh;
    padding: 1%;

    form {
      display: flex;
      flex-direction: row;
    }

    &__first,
    &__second {
      width: 50%;
      height: 82vh;
      padding: 1%;

      label {
        font-weight: bold;
      }

      span {
        color: red;
      }

      &__data {
        display: flex;
        gap: 5%;
        margin-top: 1%;

        &__nume,
        &__prenume,
        &__adresa {
          display: flex;
          flex-direction: column;
          width: 50%;
        }

        &__data-nastere {
          display: flex;
          gap: 5%;
        }

        &__profile {
          display: flex;
          flex-direction: row;

          &__image {
            display: flex;
            justify-content: flex-end;

            img {
              width: 30%;
            }
          }
        }

        &__cnp {
          color: rgb(170, 170, 170);
        }
      }

      &__data-nasterii {
        width: 50%;
      }
    }

    &__first {
      border-right: 2px solid rgb(179, 179, 179);
    }
  }
}

mat-form-field {
  width: 100%;
  font-size: 120%;
}

.upload-file {
  width: 90%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__placeholder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      color: rgb(170, 170, 170);
    }
  }
}

::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
}

input[type="file"] {
  display: none;
}

.mini-title {
  color: #ff4900;
  font-weight: 600;
  padding: 2%;
}

.mic {
  width: 10rem;
}

.divider {
  margin-top: 5%;
}

.bottons {
  gap: 2%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.5%;

  button {
    width: 8rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
  }

  button:first-child {
    background-color: rgb(255, 196, 0);
    color: black;
  }

  button:last-child {
    background-color: rgb(44, 138, 31);
    color: white;
  }
}

.bottons button {
  /* Stiluri generale pentru buton */
  font-weight: bold;
  margin-right: 10px; /* distanță între butoane */
}

button:disabled {
  background-color: #ddd; /* culoare gri când este dezactivat */
  color: #aaa;
  cursor: not-allowed; /* cursorul nu este permis când butonul este dezactivat */
}

button.active {
  background-color: #4caf50; /* culoare verde când este activat */
  color: white;
  border: 1px solid #388e3c;
  cursor: pointer; /* cursorul devine pointer când este activ */
}

button.active:hover {
  background-color: #45a049; /* culoare mai închisă la hover când este activ */
}
