<app-nav-bar></app-nav-bar>
<div class="charts">
  <div>
    <google-chart
      #chart1
      [type]="chartType1"
      [data]="chartData1"
      [options]="chartOptions1"
    ></google-chart>
    <button (click)="exportToPDF(chart1)">Generate PDF</button>
  </div>
  <div>
    <google-chart
      #chart2
      [type]="chartType3"
      [data]="chartData3"
      [options]="chartOptions3"
    ></google-chart>
    <button (click)="exportToPDF(chart2)">Generate PDF</button>
  </div>
</div>

<div class="charts">
  <div>
    <google-chart
      #chart3
      [type]="chartType2"
      [data]="chartData2"
      [options]="chartOptions2"
    ></google-chart>
    <button (click)="exportToPDF(chart3)">Generate PDF</button>
  </div>
  <div>
    <google-chart
      #chart4
      [type]="chartType4"
      [data]="chartData4"
      [options]="chartOptions4"
    ></google-chart>
    <button (click)="exportToPDF(chart4)">Generate PDF</button>
  </div>
</div>
