<mat-toolbar class="toolbar">
  <div class="toolbar__health-icon">
    <img src="../../assets/heart.gif" />
    <span>HealthTrack</span>
    <p>{{ doctor.nume }} {{ doctor.prenume }}</p>
  </div>
  <div class="toolbar__buttons">
    <button
      *ngIf="doctorRole === 'admin'"
      appHoverElement
      class="toolbar__button"
      (click)="goToChartsPage()"
    >
      📊 CHARTS
    </button>
    <button
      appHoverElement
      class="toolbar__button"
      (click)="openMyProfileSidenav()"
    >
      MY ACCOUNT
    </button>
    <button appHoverElement class="toolbar__button" (click)="generatePdf()">
      📄 GENERATE PDF
    </button>
    <button
      appHoverElement
      class="toolbar__button"
      (click)="openAddNewPatient()"
    >
      ✙ ADAUGĂ PACIENT
    </button>
    <button appHoverElement class="toolbar__button" (click)="openLogout()">
      LOGOUT
    </button>
  </div>
</mat-toolbar>
