<mat-toolbar class="toolbar">
  <div class="toolbar__health-icon">
    <img src="../../assets/icon.png" />
    <span>HealthTrack</span>
    <p>{{ doctor.nume }} {{ doctor.prenume }}</p>
  </div>
  <div class="toolbar__buttons">
    <button class="toolbar__button" (click)="openMyProfileSidenav()">
      MY ACCOUNT
    </button>
    <button class="toolbar__button" (click)="generatePdf()">
      📄 GENERATE PDF
    </button>
    <button class="toolbar__button" (click)="openAddNewPatient()">
      ✙ ADAUGĂ PACIENT
    </button>
    <button class="toolbar__button" (click)="openLogout()">LOGOUT</button>
  </div>
</mat-toolbar>
