<div class="add-new-patient">
  <div>
    <div class="add-new-patient__close">
      <div>➕ Adaugă un pacient nou</div>
      <div><span (click)="openCloseDialog()">❌</span></div>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div class="add-new-patient__bottom">
    <mat-divider></mat-divider>
    <div class="add-new-patient__bottom__buttons">
      <button class="add-new-patient__bottom__buttons__button1">ADAUGĂ</button
      ><button class="add-new-patient__bottom__buttons__button2">
        RENUNȚĂ
      </button>
    </div>
  </div>
</div>
