<div>
  <div>
    <div class="close">
      <div>🩺🥼💉 Consultațiile pacientului</div>
      <div class="consultatii__data__cnp">
        <div>{{ patientCNP }}</div>
      </div>
      <div><span (click)="openCloseDialog()">❌</span></div>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div class="consultatii">
    <div class="consultatii__data">
      <div class="consultatii__data__all-consultations">
        <div
          *ngFor="let consultation of consultations"
          class="consultatii__data__all-consultations__item"
          appHoverElement
        >
          <div
            class="consultatii__data__all-consultations__item__delete"
            (click)="
              deleteConsultation(patientCNP, consultation.nr_consultatie)
            "
          >
            <img src="../../assets/delete-icon.png" />
          </div>
          <div class="consultatii__data__all-consultations__item__informations">
            <p>
              <strong>Nr. Consultație:</strong>
              {{ consultation.nr_consultatie }}
            </p>
            <p><strong>Data:</strong> {{ consultation.data_consultatie }}</p>
            <p><strong>Diagnostic:</strong> {{ consultation.diagnostic }}</p>
            <p>
              <strong>Medicamentatie:</strong> {{ consultation.medicamentatie }}
            </p>
          </div>
        </div>
      </div>
      <form [formGroup]="consultatieForm">
        <div>
          <label>Data consultației</label>
          <mat-form-field appearance="outline">
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="dataConsultatie"
              placeholder="Selectați data"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <label>Diagnostic</label>
          <mat-form-field appearance="outline">
            <mat-select
              formControlName="diagnostic"
              placeholder="Selectați diagnosticul"
            >
              <mat-option
                *ngFor="let option of diagnostics"
                [value]="option.nume"
              >
                {{ option.nume }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <label>Medicamentație</label>
          <mat-form-field appearance="outline">
            <textarea
              matInput
              formControlName="medicamentatie"
              placeholder="Introduceți medicația prescrisă"
              rows="3"
            ></textarea>
          </mat-form-field>
        </div>
      </form>
    </div>
    <div class="consultatii__bottom">
      <mat-divider></mat-divider>
      <div class="consultatii__bottom__buttons">
        <button
          class="consultatii__bottom__buttons__button1"
          (click)="addConsultation()"
          [disabled]="consultatieForm.invalid"
          appHoverElement
        >
          ADAUGĂ</button
        ><button class="consultatii__bottom__buttons__button2" appHoverElement>
          RENUNȚĂ
        </button>
        <button
          class="consultatii__bottom__buttons__pdf-button"
          (click)="generatePdf()"
          appHoverElement
        >
          📄 GENERATE PDF
        </button>
      </div>
    </div>
  </div>
</div>
