<app-nav-bar></app-nav-bar>
<div class="display-patients">
  <div class="display-patients__search">
    <div>
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="picker" placeholder="Select date..." />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <span>Diagnostics</span>
      <div class="display-patients__search__diagnostics">
        <button
          *ngFor="let diagnostic of diagnostics"
          mat-button
          [ngClass]="
            diagnostic.isSelected
              ? 'display-patients__search__diagnostics__button-no-clicked'
              : 'display-patients__search__diagnostics__button-clicked'
          "
          (click)="toggleDiagnosticSelection(diagnostic)"
        >
          {{ "❤️" + " " + diagnostic.nume + "🖤" }}
        </button>
      </div>
    </div>
    <div>
      <span>Nume</span>
      <mat-form-field appearance="outline">
        <input
          matInput
          (input)="filterPatients()"
          [(ngModel)]="searchCriteria.name"
        />
      </mat-form-field>
    </div>
    <div>
      <span>Număr de telefon</span>
      <mat-form-field appearance="outline">
        <input
          matInput
          (input)="filterPatients()"
          [(ngModel)]="searchCriteria.phone"
        />
      </mat-form-field>
    </div>
    <div>
      <span>CNP</span>
      <mat-form-field appearance="outline">
        <input
          matInput
          (input)="filterPatients()"
          [(ngModel)]="searchCriteria.cnp"
        />
      </mat-form-field>
    </div>
    <div>
      <span>Gen</span>
      <mat-checkbox
        color="primary"
        (change)="onGenderChange('Feminin', $event)"
        [checked]="searchCriteria.gender === 'Feminin'"
        >Feminin</mat-checkbox
      >
      <mat-checkbox
        color="primary"
        (change)="onGenderChange('Masculin', $event)"
        [checked]="searchCriteria.gender === 'Masculin'"
        >Masculin</mat-checkbox
      >
    </div>
  </div>
  <div class="display-patients__patients">
    <div
      class="display-patients__patients__cards"
      *ngFor="let patient of filteredPatients"
      appHoverElement
    >
      <div
        class="display-patients__patients__cards__small-image-left"
        (click)="openConsultationsPatient(patient.cnp)"
      >
        <img src="../../assets/consultatie.png" alt="Small Image Left" />
      </div>
      <div
        class="display-patients__patients__cards__small-image-right"
        (click)="deletePatient(patient.id)"
      >
        <img src="../../assets/delete-icon.png" alt="Small Image Right" />
      </div>
      <div
        class="display-patients__patients__cards__image"
        (click)="openDetailsPatient(patient.cnp)"
      >
        <img [src]="patient.poza" alt="Patient Image" />
      </div>
      <div
        class="display-patients__patients__cards__informations"
        (click)="openDetailsPatient(patient.cnp)"
      >
        <span>Nume: {{ patient.nume }}{{ patient.prenume }}</span>
        <span> Vârstă: {{ patient.varsta }}</span>
        <span>Dată: {{ patient.data_nasterii }}</span>
      </div>
    </div>
  </div>
</div>
