<div class="full-container">
  <img class="full-container__background" src="assets/background_2.png" />
  <div class="full-container__form">
    <form [formGroup]="userForm">
      <div class="full-container__form__icon">
        <img src="../../assets/icon.png" />
      </div>
      <div class="full-container__form__title">Create account</div>
      <div class="full-container__form__credentials">
        <div>
          <mat-label>👨🏻‍💼 Username</mat-label>
          <input type="text" matInput formControlName="username" />
        </div>
        <div>
          <mat-label>✉️ Email</mat-label>
          <input type="text" matInput formControlName="email" />
        </div>
        <div>
          <mat-label>🔒 Password</mat-label>
          <input type="text" matInput formControlName="password" />
        </div>
      </div>
    </form>
    <div class="full-container__form__button">
      <button (click)="submit()">Register</button>
    </div>
  </div>
</div>
